/service/target/
/service/nbproject/
/test-service/target/
/web-ui/target/
/core/nbproject/
/core/target/
/system-lib/target/
*.log
/web-ui/nbproject/
*.token
/web-ui-api-linux/nbproject/
/web-ui-api-linux/target/
/web-ui-api-stub/target/
/web-ui-api/target/
web-ui/log/*

