<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="SIFTER" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <key>module</key>
            <defaultValue>default</defaultValue>
        </discriminator>
        <sift>
            <appender name="FILE${module}" class="ch.qos.logback.core.FileAppender">
                <file>../log/${module}.log</file>
                <encoder>
                    <pattern>%d{yyyy-MM-dd' 'HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
                </encoder>
            </appender>
        </sift>
    </appender>

    <root level="INFO">
        <appender-ref ref="SIFTER" />
    </root>
</configuration>
